<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yn.electricity.mapper.DeviceLogInfoMapper">

    <resultMap id="BaseResultMap" type="com.yn.electricity.dao.DeviceLogInfoDAO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="device_id" property="deviceId" jdbcType="INTEGER"/>
        <result column="online" property="online" jdbcType="SMALLINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <delete id="deleteTime">
        DELETE
        FROM device_log_info
        WHERE DATEDIFF(NOW(), create_time) > 30
    </delete>

    <select id="selectByDevId" resultType="com.yn.electricity.vo.DeviceLogInfoVO">
        SELECT d.`name`        as name,
               d.ip            as ip,
               d.`port`        as port,
               d.`online`      as online,
               dli.create_time as createTime
        FROM device_log_info dli
                 LEFT JOIN device d ON dli.device_id = d.id
        <where>
            dli.device_id = #{devId}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                AND dli.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        order by dli.create_time desc
    </select>


</mapper>