<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yn.electricity.mapper.PlatformLogInfoMapper">

    <resultMap id="BaseResultMap" type="com.yn.electricity.dao.PlatformLogInfoDAO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="platform_id" property="platformId" jdbcType="INTEGER"/>
        <result column="online" property="online" jdbcType="SMALLINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <delete id="deleteTime">
        DELETE FROM platform_log_info WHERE DATEDIFF(NOW(),create_time) > 30
    </delete>

    <select id="selectByPlatformId" resultType="com.yn.electricity.vo.PlatformLogInfoVO">
        SELECT
            p.`name`,
            p.ip,
            p.`port`,
            p.`online`,
            pli.create_time as createTime
        FROM
            platform_log_info pli
                LEFT JOIN platform p ON pli.platform_id = p.id
        <where>
            pli.platform_id = #{platformId}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                AND pli.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        order by pli.create_time desc
    </select>

</mapper>