<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yn.electricity.mapper.PlatformMapper">

    <resultMap id="BaseResultMap" type="com.yn.electricity.dao.PlatformDAO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="device_type_id" jdbcType="INTEGER" property="deviceTypeId"/>
        <result column="service_id" jdbcType="INTEGER" property="serviceId"/>
        <result column="organization_id" jdbcType="INTEGER" property="organizationId"/>
        <result column="camera_group_id" jdbcType="INTEGER" property="cameraGroupId"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="port" jdbcType="INTEGER" property="port"/>
        <result column="register_account" jdbcType="VARCHAR" property="registerAccount"/>
        <result column="register_password" jdbcType="VARCHAR" property="registerPassword"/>
        <result column="online" jdbcType="SMALLINT" property="online"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="department_code" jdbcType="VARCHAR" property="departmentCode"/>
        <result column="user_ip_id" jdbcType="VARCHAR" property="userIpId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
    </resultMap>

    <select id="selectByNameNotId" resultType="com.yn.electricity.dao.PlatformDAO">
        select *
        from platform
        where name = #{name}
          and id != #{id}
    </select>
    <select id="selectByCodeNotId" resultType="com.yn.electricity.dao.DeviceDAO">
        select *
        from platform
        where code = #{code}
          and id != #{id}
    </select>

    <select id="selectPlatform" resultType="com.yn.electricity.vo.PlatformVO">
        SELECT
        p.id,
        s.id as serviceId,
        p.`name` as `name`,
        dt.id as deviceTypeId,
        dt.`name` as deviceTypeName,
        p.ip,
        p.`port`,
        p.online,
        p.register_account as registerAccount,
        p.register_password as registerPassword,
        s.`name` as serviceName,
        p.`code`,
        p.longitude,
        p.latitude,
        p.create_time as createTime
        FROM
        platform p
        LEFT JOIN device_type dt ON p.device_type_id = dt.id
        LEFT JOIN service s ON p.service_id = s.id
        <where>
            <if test="deviceQuery.name != null and deviceQuery.name != ''">
                AND p.`name` LIKE CONCAT('%',#{deviceQuery.name},'%')
            </if>
            <if test="deviceQuery.deviceTypeId != null">
                AND dt.id = #{deviceQuery.deviceTypeId}
            </if>
            <if test="deviceQuery.startTime != null and deviceQuery.startTime != '' and deviceQuery.endTime != null and deviceQuery.endTime != ''">
                AND p.create_time BETWEEN #{deviceQuery.startTime} AND #{deviceQuery.endTime}
            </if>
        </where>
        order by p.create_time desc
    </select>


    <resultMap id="selectMapFindPlatform" type="com.yn.electricity.vo.PlatformMapVO">
        <result column="id" property="id" javaType="java.lang.Integer"/>
        <result column="name" property="name" javaType="java.lang.String"/>
        <result column="longitude" property="longitude" javaType="java.lang.Double"/>
        <result column="code" property="code" javaType="java.lang.String"/>
        <result column="latitude" property="latitude" javaType="java.lang.Double"/>
        <result column="isOnline" property="isOnline" javaType="java.lang.Integer"/>
        <result column="ip" property="ip" javaType="java.lang.String"/>
        <result column="port" property="port" javaType="java.lang.Integer"/>
        <collection property="cameraList" column="{platformId = id , pIp = ip, pPort = port}"
                    select="com.yn.electricity.mapper.PlatformVideoInMapper.selectCameraByPlatformId">
        </collection>
    </resultMap>

    <select id="mapFindPlatform" resultMap="selectMapFindPlatform">
        SELECT
            p.id,
            p.`name`,
            p.longitude,
            p.latitude,
            p.`online` as isOnline,
            p.code,
            p.ip,
            p.`port`
        FROM
            platform p
        ORDER BY
            p.create_time DESC
    </select>

</mapper>